#reactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

@media only screen and (min-width : 1000px) {
	#reactContainer {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  overflow: hidden;
	  padding: 40px;
	}
}

.imageHolder {
	position: relative;
	max-width: 500px;
	display: inline-block;
}

.annotation {
  background: white;
  font-size: 16px;
  padding: 20px;
  max-width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  pointer-events: none;
  transition: opacity 250ms 50ms;
}

.hot-spot span {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  left: -15px;
}

.annotation-num {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: 3px;
  display: inline-block;
  margin-right: 10px;
}

.annotation-text {
  font-family: Arial;
  line-height: 1.25;
}

.annotation-image {
  margin-right: 5px;
  height: 65px;
  float: left;
}


